= render :partial => 'shared/letter_menu'

-if !@definition_list.nil? && !@definition_list.empty?
  %ol.definitions
    -@definition_list.each do |d|
      %li
        = render :partial => 'shared/definition', :locals => { :definition => d }
      %hr
-else
  %ol.definitions
    %li
      %p
        .chinese= params[:word]
  not defined
  = link_to "yet", new_definition_path(:word => params[:word])

%br
sql:
%br
= @sql
