-per_page = 3

-if !@definitions.nil? && !@definitions.empty?
  = will_paginate @definitions.paginate(:page => params[:page], :per_page => per_page), :class => 'apple_pagination'
  %br
  = render :partial => 'definitions/definitions', :object => @definitions.paginate(:page => params[:page], :per_page => per_page), :locals => { :show_votes => true }
  = will_paginate @definitions.paginate(:page => params[:page], :per_page => per_page), :class => 'apple_pagination'
-else
  .chinese= params[:word]
  not defined
  = link_to "yet", new_definition_path(:word => params[:word])
