-#:show_votes determines wheither or not to show voting buttons

-# default to hiding vote buttons
- show_votes = false unless show_votes

-if show_votes
  .row.definitions
    .span3
      .chinese
        =link_to definition.word, definition
      .pinyin
        =definition.pinyin
    .span4
      =simple_format definition.definition
    .span4
      .example
        =simple_format definition.example
    .span1
      .voting
        .up
          - if user_signed_in? && current_user.voted_for?(definition)
            = link_to image_tag(asset_path 'vote_up_active.png'), upvote_definition_path(definition, params)
          - else
            = link_to image_tag(asset_path 'vote_up.png'), upvote_definition_path(definition, params)
        .score
          = definition.plusminus
        .down
          - if user_signed_in? && current_user.voted_against?(definition)
            = link_to image_tag(asset_path 'vote_down_active.png'), downvote_definition_path(definition)
          -else
            = link_to image_tag(asset_path 'vote_down.png'), downvote_definition_path(definition)
-else
  .row.definitions
    .span4
      .chinese
        =link_to definition.word, definition
      .pinyin
        =definition.pinyin
    .span4
      =simple_format definition.definition
    .span4
      .example
        =simple_format definition.example
%hr
