.row.definitions_header
  .span3
    = t :'partial.definitions.word'
  .span4
    = t :'partial.definitions.definition'
  .span4
    = t :'partial.definitions.example'
  .span1
    .voting
    -# don't show voting on confirmation page
    -if params[:action] == 'confirm'
      &nbsp;
    -else
      = t :'partial.definitions.score'

= render definitions
