.row
  .span5
    %h2= t(:'definition.title')
    .alert
      = t(:'definition.desc')
    = simple_form_for(@definition) do |f|
      = f.error_notification

      - @new_word = params[:word]
      .form-inputs
        -if @new_word
          = f.input :word, :label => t(:'definition.form.word'), :input_html => { :value => @new_word }
        -else
          = f.input :word, :label => t(:'definition.form.word')
        = f.input :pinyin_original, :label => t(:'definition.form.pinyin')
        = f.input :definition, :label => t(:'definition.form.definition'), :hint => t(:'definition.form.definition-hint')
        = f.input :example, :label => t(:'definition.form.example')
        -if user_signed_in?
          = f.hidden_field :email, :value => current_user.email
        -else
          = f.input :email, :label => t(:'definition.form.email'), :hint => t(:'definition.form.email-hint')

      .form-actions
        = f.button :submit, :value => t(:'definition.form.submit-button')
  .span1 &nbsp;
  .span6
    .well
      %h2= t :'definition.sample-title'
      %p
        %table.table.table-bordered
          %tr
            %td(style="width:130px")
              %h3= t :'definition.form.word'
            %td
              %h3 三六肉
          %tr
            %td
              %h3= t :'definition.form.pinyin'
            %td
              san1 liu4 rou4
          %tr
            %td
              %h3= t :'definition.form.definition'
            %td
              狗肉
          %tr
            %td
              %h3= t :'definition.form.example'
            %td
              %p
                A: 别吃三六肉
              %p
                B: 为什么？
              %p
                A: 这是狗肉！
              %p
                B: 天啊！
