.row
  .span6
    %h2 Definition
    = simple_form_for(@definition) do |f|
      = f.error_notification

      .form-inputs
        = f.input :word
        = f.input :definition
        = f.input :example

      .form-actions
        = f.button :submit
  .span6
    %h2 Preview
