%h1
  Listing definitions
  %small
    = link_to 'New Definition', new_definition_path

%table.table.table-striped.table-condensed
  %tr
    %th Word
    %th Pinyin
    %th Definition
    %th Example
    %th Status
    %th Email
    %th Date
    %th
    %th

  - @definitions.each do |definition|
    %tr
      %td= link_to definition.word, definition
      %td= definition.pinyin_original
      %td= definition.definition
      %td= definition.example
      %td= definition.status
      %td= definition.email
      %td= definition.created_at.strftime('%a %b %d, %H:%M')
      %td= link_to 'Edit', edit_definition_path(definition)
      %td= link_to 'Destroy', definition, :confirm => 'Are you sure?', :method => :delete
