!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : t(:'global.site-name')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    :css
      body {
      }
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/


  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => root_path}= t :'global.site-name'
          .container
            %ul.nav
              %li{ :class => params[:action] == 'new' && params[:controller] == 'definitions' ? 'active' : '' }
                = link_to t(:'application-layout.add'), new_definition_path
              %li{ :class => params[:action] == 'review' && params[:controller] == 'definitions' ? 'active' : '' }
                = link_to t(:'application-layout.review'), review_definitions_path
            = form_tag define_show_path, { :class => "navbar-search pull-left" } do
              = text_field_tag "word", nil, { :class => "search-query", :placeholder => "Search" }
            %ul.nav.pull-right
              -if user_signed_in?
                %li{ :class => params[:action] == 'edit' && params[:controller] == 'devise/registrations' ? 'active' : '' }
                  = link_to current_user.username, edit_user_registration_path
                %li= link_to t(:'application-layout.logoff'), destroy_user_session_path, :method => :delete
              -else
                %li{ :class => params[:action] == 'new' && params[:controller] == 'devise/sessions' ? 'active' : '' }= link_to t(:'application-layout.sign-in'), new_user_session_path
                %li{ :class => params[:action] == 'new' && params[:controller] == 'devise/registrations'? 'active' : '' }= link_to t(:'application-layout.join'), new_user_registration_path
              %li.divider-vertical
              %li= link_to "中文", '#'
              %li= link_to "English", '#'


    .container

      .content
        .row
          .span12.yielded-area
            = render :partial => 'shared/letter_menu'

            - flash.each do |type, message|
              %div.alert.fade.in{ :class => "alert-#{twitterized_type(type)}" }
                %a.close(data-dismiss="alert") x
                = message

            = yield
    
      %footer
        %br
        .slogan
          .alert
            &nbsp;
            = raw t(:'pages.home.desc')
            %span.pull-right
              %span.footer_item
                &copy;
                = t :'global.site-name'
              %span.footer_item
                = link_to t(:'application-layout.about'), about_path
              %span.footer_item
                = link_to t(:'application-layout.contact'), contact_path
                &nbsp;
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
